
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US

    ========================================================  */
/*==============================================
    GENERAL  STYLES
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
}

 #wrapper {
    width: 100%;
    background:#202020;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;

}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1200px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #009688;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent;
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
/*==============================================
   DASHBOARD STYLES
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
   .noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 20px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}


 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}

/*==============================================
    MENU STYLES
    =============================================*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:100px;
max-width:100px;
}

.navbar-cls-top .navbar-brand {
	color: #fff;
background: #009688;
width: 260px;
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700;
}
.active-menu {
    background-color:#009688!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;

}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {

	background:#0A0A0A;
	outline:0;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#8BC34A;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#8BC34A;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #202020;

}
.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;

}
.navbar-cls-top .navbar-brand:hover {

background: #009688;
color:#fff;

}

.navbar-default {
border:0px solid black;

}
.navbar-header {
    background: #009688;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #8BC34A;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}


/*============================================
//                CUSTOM
=============================================*/

.kanan-align{
  float: right;
  max-width: 25%;
}

.kiri-align{
  margin: 0 20px 0 20px;
  float: left;
  max-width: 15%;
}
.green-btn{
  background-color: #25ad62 !important
}
.judul-tabel{
  -webkit-text-stroke:medium;
  text-align: center;
}
.foto-profil{
  width: 100%;
  border-color: #4eecde;
  margin-top: 15px;
}
.left-to-center{
  margin: 5% 2% 5% 2%;
  float: inherit;
  max-width: 45%;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .left-to-center{
      margin: 5% 2% 5% 2%;
      float:inherit;
      max-width: 45%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .left-to-center{
    margin: 0 2% 0 2%;
    float:left;
    max-width: 25%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .left-to-center{
    margin: 0 3% 0 3%;
    float:left;
    max-width: 15%;
    }
}

/*pop up description
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  top: 0;
  left: auto;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-popup .kbm {
  background-color: #ead9d9;
}

.popup-kanan{
  right: 10px;
}

.col-50{
  width:49%;
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .form-popup{
      display: none;
      position: fixed;
      top: 30%;
      left: 0;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .form-popup{
    display: none;
    position: fixed;
    top: 30%;
    left: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .form-popup{
    display: none;
    position: absolute;
    top: 0;
    left: auto;
    border: 3px solid #f1f1f1;
    z-index: 9;
    }
}

/* Add styles to the form container */
.form-container {
  max-width: 100%;
  padding: 10px;
  background-color: white;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
.data-popup{
  background-color: #e6ffe6;
  color: #333300;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75 {
    width: 100%;
    margin-top: 0;
  }
}

/*MODAL*/

.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 300px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}
.closeX {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}


/*==============================================
    UI ELEMENTS STYLES
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
    FOTO KONTRIBUTOR
    =============================================*/
    /* Container holding the image and the text */
    .foto-container {
      float: left;
      position: relative;
      text-align: center;
      color: white;
    }
    .container-divide{
      display: inline-block;
      background-color: #4eecde;
    }
    /* Bottom center text */
    .bottom-center {
      position: absolute;
      bottom: 8px;
      left: auto;
      background-color: aqua;
      width: -webkit-fill-available;
    }
    .top-right {
      padding: 0 6px 0 8px;
      position: absolute;
      top: 8px;
      right: 10px;
      color: #9ca999;
      background-color: #ffffb3;
    }
    .container-divide .foto-container .foto-profil{
      width: 100px
    }

    /*==============================================
        FOTO KONTRIBUTOR
        =============================================*/
    .calendar .header{
      border-style: solid solid double solid;
      border-color: 4d4d4d;
    }
    .calendar .day{
      border-style: solid;
      border-color: 4d4d4d;
    }
    table.calender{
      border: 1px solid 4d4d4d;
    }
    caption{
      font-size: 22pt; margin: 10px 0 20px 0; font-weight: 700;
    }
    table.calendar{
      width:100%; border:1px solid #000;
    }
    td.day{
      width: 14%; height: 140px; border: 1px solid #000; vertical-align: top;
    }
    td.day span.day-date{
      font-size: 14pt; font-weight: 700;
    }
    th.header{
      background-color: #003972; color: #fff; font-size: 14pt; padding: 5px;
    }
    .not-month{
      background-color: #a6c3df;
    }
    td.today {
      background-color:#efefef;
    }
    td.day span.today-date{
      font-size: 16pt;
    }

/*==============================================
    MEDIA QUERIES
    =============================================*/

 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;

    }


    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

   .navbar {
 border-radius: 0px;
}

}
